.cont {
    display: grid;
    position: absolute;
    height: 90vh;
    grid-template-columns: 100%;
    grid-template-rows: repeat(auto-fit, 52px);
    background-color: #014f86;
    padding-top: 10px;
  }
  
  .link {
    height: 50px;
    display: flex;
    padding-left: 5px;
    justify-content: left;
    font-size: 20px;
    color: #61a5c2;
    transition: 0.5s all;
    overflow: hidden;
    padding-top: 10px;
  }
  
  .link:hover {
    background-color: #a9d6e5;
    color: #40819c;
  }
  
  .nav {
    display: grid;
  grid-template-columns: 20vw 50vw;
  color: white;
  }

  .menuButton{
    position: absolute;
    top: 10vh;
    z-index: 3;
  }

  .menuButtonSide{
    left:12vw;
  }

  /* .exnav {
    display: grid;
    min-width: 100vh;
    grid-template-rows: 10vh 90vh;
    color: black;
    background-color: white;
  } */